body{
    background-color:chartreuse
}

.options{
    color: red;
}
.question{
    color:gold
}


.card {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    border:2px cornflowerblue
}

li {
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}

li .card:hover {
    border: 1px solid aqua;
    background-color: aqua;
}

ol {
    padding: 0;
}