<body>
<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Quiz Application</h1>
    <p class="col-md-8 fs-4">Quiz Contains 10 Question MARK:10</p>
    <h4>Instructions:</h4>
    <ol>
        <li>
            Attempt All questions.
        </li>
        <li>
            No Negative Marking.
        </li>
        <li>
            **Importent Notice: No one in a room.
        </li>
        <li>
            **UnMute Your Self within Hole Process.
        </li>
        <li>
            Use proper Internet
        </li>
        <li>
            Use Proper System Or Mobile
        </li>
    </ol>
    <div class="name col-md-4 my-3">
        <label for="">Enter name*</label>
        <input #name type="text" class="form-control">

    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start!!</button>

</div>
</body>

<footer class="text-center text-lg-start bg-light text-muted">
   
    <section class="">
      <div class="container text-center text-md-start mt-5">
        
        <div class="row mt-3">
        
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>INSRUCTIONS
            </h6>
            <p>
               USE PROPER INTERNET<br>
               USE PROPER LAPTOP OR MOBILE<br>
               UPDATE VERSIONS REGULARLY<br>
               SUBMIT EXAM IN TIME<br>
               START EXAM IN PROPER TIME
            </p>
          </div>
         
        
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>ONLINE EXAM PORTAL
              </h6>
              <p>
              WE PROVIDE KNOWLEDGE WE ENCOURAGE ALL.STAY SAFE 
              </p>
            </div>
   
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i>MANGISETTY NAVEEN KUMAR </p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              mnaveenkumar01012000@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> 9573915468</p>
            <p><i class="fas fa-print me-3"></i> 9381160942</p>
          </div>
          
        </div>
       
      </div>
    </section>
   
    <div class="text-center p-4" style="background-color:aquamarine">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="">MANGISETTY NAVEEN KUMAR</a>
    </div>
   
  </footer>