<body>
    <div class="container">
        <div class ="my-custom-row">
            <h1 class="text-center" style="color: chartreuse;">TEST COMPLETED</h1>
            <form>
                <h4 class="text-center" style="color:blueviolet">ENTER TOUR FEEDBACK</h4>
                
            <textarea id="w3review" name="w3review" rows="12" cols="150">
    
             </textarea>
            </form>
            <h4 class="text-center" style="color: cornflowerblue;">Thank you for takin the exam just like we all thought you would. 
                You made me so proud today. Keep on achieving good things. Best wishes!</h4>
        </div>
    </div>


    <div class="card">
        <button class="btn btn-primary" type="button" ><b>SUBMIT</b></button>
    
    </div>
</body>
